<div *ngIf="!currentPage.includes('/login') && currentPage.includes('/panel')">
  <div class="pages" *ngFor="let page of pages">
    <button
      pButton
      type="button"
      label="{{page.label}}"
      (click)="moveTo(page.path)"
    ></button>
  </div>
</div>
<div *ngIf="!currentPage.includes('/panel') || currentPage.includes('/timetable')">
  <form [formGroup]="filterForm">
    <div class="pages">
      <p-dropdown
        [options]="years"
        [(ngModel)]="selectedYears"
        placeholder="Select a Year Of Education"
        optionLabel="name"
        [showClear]="true"
        formControlName="year"
        [style]="{
          minWidth: '100%',
          borderColor: 'rgba(128, 188, 0, 0.45)'
          }"
      ></p-dropdown>
    </div>
    <div class="pages">
      <p-dropdown
        [options]="groups"
        [(ngModel)]="selectedGroups"
        placeholder="Select a Group"
        optionLabel="name"
        [showClear]="true"
        formControlName="group"
        [style]="{
          minWidth: '100%',
          borderColor: 'rgba(128, 188, 0, 0.45)'
          }"
      ></p-dropdown>
    </div>
  </form>
</div>
