.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}

.pages {
  padding: 25px 20px 0 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

button {
  width: 100%;
  color: rgba(128, 188, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
}

p-dropdown {
  width: 100%;
}

.final_button {
  justify-content: flex-end;
  padding-bottom: 5vh;
}

.show_button {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(128, 188, 0, 1);
}
